<!-- image section start  -->
<div class="d-md-block d-none">
<div class="image firstImage row">
    <div class="boxA1">
         <h2 class="makeForYou">MAKE FOR YOU</h2>
         <h2 class="pistons">PISTONS</h2>
    </div>
    <div class="boxA2">
        <div class="a2Text">
            <h2>YOU WERE MADE TO</h2>
            <h2>MAKE AN IMPACT.</h2>

        </div>
        <button class="shopBtn">SHOP PENS</button>
    </div>
</div>
<div class="image row">
    <div class="boxB1">
        <div class="b1Text">
            <h2>MAKE FOR THE BEST</h2>
            <h2>CHANGE MAKERS.</h2>

        </div>
        <button class="b1shopBtn">SHOP PENS</button>
    </div>
    <div class="boxB2">
        
    </div>
</div>
<div class="image row">
    <div class="boxC1">
         
    </div>
    <div class="boxC2">
        <div class="a2Text">
            <h2>SAVOUR THE PRESENT.</h2>

        </div>
        <button class="shopBtn">SHOP PENS</button>
    </div>
</div>
<div class="image row">
    <div class="boxD">
         <div class="lastText">WHERE QUALITY MEETS CLASS.</div>
         <h2 class="lastMakeForYou">MAKE FOR YOU</h2>
         <h2 class="pistons">PISTONS</h2>
         <button class="dshopBtn">SHOP THE FALL 2023 COLLECTION</button>
    </div>
</div>
</div>
<!-- image section for laptop screen  end -->
<!-- image section for mobile screen start  -->
<div class="d-md-none d-block">
    <div class="image firstImage row">
        <div class="boxA1">
             <h2 class="makeForYou">MAKE FOR YOU</h2>
             <h2 class="pistons">PISTONS</h2>
        </div>
        
    </div>
    <div class="image row">
        <div class="boxA2">
            <div class="a2Text">
                <h2>YOU WERE MADE TO</h2>
                <h2>MAKE AN IMPACT.</h2>
    
            </div>
            <button class="shopBtn">SHOP PENS</button>
        </div>
    </div>
    <div class="image row">
        <div class="boxB1">
            <div class="b1Text">
                <h2>MAKE FOR THE BEST</h2>
                <h2>CHANGE MAKERS.</h2>
    
            </div>
            <button class="b1shopBtn">SHOP PENS</button>
        </div>
        
    </div>
    <div class="image row">
        <div class="boxB2">
            
        </div>
    </div>
    <div class="image row">
        <div class="boxC1">
             
        </div>
        
    </div>
    <div class="image row">
        <div class="boxC2">
            <div class="a2Text">
                <h2>SAVOUR THE PRESENT.</h2>
    
            </div>
            <button class="shopBtn">SHOP PENS</button>
        </div>
    </div>
    <div class="image row">
        <div class="boxD">
             <div class="lastText">WHERE QUALITY MEETS CLASS.</div>
             <h2 class="lastMakeForYou">MAKE FOR YOU</h2>
             <h2 class="pistons">PISTONS</h2>
             <button class="dshopBtn">SHOP THE FALL 2023 COLLECTION</button>
        </div>
    </div>
</div>

<button class="feedback">FEEDBACK</button>

<div class="noSticky">
<!-- about section for laptop start  -->
<div class="about row" id="about">
    <div class="aboutPic">
        <div class="imageCarousal">
            <img src="../../assets/image/Frame 23.png" class="pic" alt="">
        </div>
    </div>
    <div class="aboutPistons">
        <h1>ABOUT PISTONS</h1>
        <p>Established in 1897, our beloved fountain pen haven, 'PISTONS,' has been a haven for pen enthusiasts for generations. With a century-long dedication to fine writing instruments, we've bridged tradition and modernity, offering a curated selection of vintage and contemporary fountain pens. Our little shop, nestled in the heart of town, continues to inspire a love for the art of writing, connecting past and present through the timeless elegance of ink on paper</p>
    </div>
</div>
<!-- about section  for laptop end  -->

<!-- testimonials section start  -->
<!-- <hr> -->
<div class="testimonials">
    <h1 class="testimonialsHeading">TESTIMONIALS</h1>
    <div class="container">
        <div class="item">
           <img src="https://i.ibb.co/vmYY6tY/img1.png" alt="">
        </div>
        <div class="item">
            <img src="https://i.ibb.co/k29V4KN/img2.png" alt="">
        </div>
        <div class="item">
           <img src="https://i.ibb.co/Mcz1SWT/img3.png" alt="">
        </div>
        <div class="item">
            <img src="https://i.ibb.co/94fW8xZ/img4.png" alt="">
        </div>
        
    </div>
</div>
</div>
<!-- testimonials section end  -->