<div class="freeShipping">
    FREE SHIPING ON ALL ORDERS
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="../../assets/image/PISTONS 1.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">NEW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">BRANDS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">COLLECTIONS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">ACCESSORIES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#about">ABOUT</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
            <li class="nav-but">
                <a class="nav-link" href="#"><img src="../../assets/image/cart.png" alt=""></a>
            </li>
            <li class="nav-but">
                <a class="nav-link" href="#"><img src="../../assets/image/search.png" alt=""></a>
            </li>
      </ul>
    </div>
  </nav>
