.foot{
    width: 100vw;
    height: 35vh;
    padding-top: 25px;
    background-color: black;
    color: white;
}
.pistons{
    margin-top: 10px;
    text-align: center;
}
.desc{
    margin-top: 20px;
    text-align: center;
}
.icons{
    text-align: center;
    svg{
        margin: 15px;
    }
}